@import "../../assets/susy"
.container
  position: relative
  .info
    @include span(6)
    padding-left: 42px
    margin-top: 132px
    .title
      font-size: 40px
    .description
      font-size: 16px
      margin-top: 15px
      max-width: 480px
      line-height: 22px
    .price
      font-size: 16px
    .buttons
      margin: 24px 0
  .icon
    @include span(last 6)
    margin-top: 195px
    text-align: right

