.layout
  .hero
    height: 620px
    position: relative
    color: white
    overflow: hidden
    .cover
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      opacity: 1
      transition: opacity 1s
      // animation: hue 60s infinite linear
    #summit
      position: absolute
      bottom: 0
      left: 50%
      margin-left: -691px
