@import "../assets/susy"
#page_header
  height: 80px
  position: relative
  color: white
  font-size: 16px
  z-index: 1
  .container
    position: relative
    .logo
      display: inline-block
      height: 80px
      padding-top: 33px
    .navs
      display: inline-block
      vertical-align: top
      margin-left: 50px
      height: 80px
      padding-top: 20px
      .nav
        display: inline-block
        height: 40px
        line-height: 40px
        padding: 0 15px
        cursor: pointer
        text-decoration: none
        &:hover
          color: rgba(255,255,255,.7)
    .side-navs
      float: right
      width: 300px
      text-align: right
      height: 80px
      padding-top: 20px
      .nav
        display: inline-block
        height: 40px
        line-height: 40px
        padding: 0 15px
        margin-left: 5px
        cursor: pointer
        vertical-align: top
        text-decoration: none
        &:hover
          color: rgba(255,255,255,.7)
        &.console
          border: 1px solid white
          border-radius: 6px
          height: 32px
          line-height: 30px
          margin-top: 4px
          &:hover
            background: rgba(255,255,255,.2)
            color: white
    .menu
      transform: perspective(500px) rotateX(-15deg)
      position: absolute
      left: 100px
      top: 60px
      transform-origin: 50% 0
      transition: all ease-out .15s
      opacity: 0
      padding-top: 10px
      &.active
        transform: none
        opacity: 1
      .inner
        background: white
        width: 428px
        height: 248px
        border-radius: 5px
        padding: 15px
        @include container
        .item
          @include gallery(6 of 12)
          position: relative
          padding: 8px
          padding-left: 39px
          border-radius: 4px
          text-decoration: none
          &:hover
            background-color: #F5F5F5
          .title
            color: #0d253e
            font-size: 15px
            font-weight: 400
          .description
            color: #97a1ab
            font-size: 12px
          .icon
            position: absolute
            left: 8px
            top: 8px
            width: 23px
            height: 23px
            background-repeat: no-repeat
            background-position: center
            &.cdn
              background-image: url('../assets/home-ic-cdn-pop.svg')
            &.live
              background-image: url('../assets/home-ic-live-pop.svg')
            &.vod
              background-image: url('../assets/home-ic-vod-pop.svg')
            &.ups
              background-image: url('../assets/home-ic-ups-pop.svg')
            &.uss
              background-image: url('../assets/home-ic-uss-pop.svg')
            &.mobile
              background-image: url('../assets/home-ic-mobile-pop.svg')
